@charset "UTF-8";

.myarea_subVisual {position:relative; width:100%; height:350rem; text-align:center;}
.myarea_subVisual > div {width:100%; height: 100%; background-position: center center;}
.myarea_subVisual div.wrap {position:absolute; top:50%; width:100%; transform:translateY(-50%);}
.myarea_subVisual .subTit {width: 100%;height: auto;display: inline-block;text-align: center;position: absolute;top: 47%;left: 0;}
.myarea_subVisual .subTit > div {}
.myarea_subVisual .subTit i {color:#fff;margin-top:25rem;display: block;font-weight: 200;}
.myarea_subVisual h2{font-size: 39rem;color:#fff;font-weight: 500;line-height: 1;}
.myarea_subVisual > div {background-size: cover; background-repeat: no-repeat;border-radius: 0 0 150rem 0;}




.my_wrap{min-height:700px;}
.my_left_menu{
	width:233px;
	position: relative;
	float: left;
	height:500px;
	width: 233px;
	}
    
.my_left_menu ul {padding: 26px 20px 12px 20px;border: 1px solid #e8e8e8;height: 475px;border-radius: 6px;} 
.my_left_menu li{display:block;  width:100%; padding-top:12px;}   
.my_left_menu .lnb-title  {position:relative;padding:16px 0;font-size:18px;line-height:28px;color:#fff;text-align:center;background-color: #05875e;border-radius: 3px 3px 0px 0px;border: 1px solid #05875e;top: 10px;}
.my_content{
	width:78%; 
	float:left;
}    

.my_content_wrap .top_box_wrap{}
.my_content_wrap{width: 70%;float:left;margin-left: 33px;position: relative;top: 12px;border-radius: 5px;}
.my_content_wrap .topBox{position:relative;display:table;width:100%;height:60px;background-color:#05875e;border-radius:3px 3px 0 0;}
.my_content_wrap .topBox p{display:table-cell;padding:0 0 0 83px;background:url('../images/my_ico.png') no-repeat 40px 18px;font-size:18px;color:#fff;vertical-align:middle; font-weight:300;}
.my_content_wrap .topBox p em{font-weight:500;}

.my_user{display:table-cell;padding:0 0 0 83px;background:url('../images/my_ico.png') no-repeat 40px 18px;font-size:18px;color:#fff;vertical-align:middle;font-weight:300;margin-left: 300px;height: 61px;}
.my_user p{line-height: 58px;}
.my_user p em{font-weight:500;}

.clear{clear:both;}
.my_content_wrap{}
.my_content_wrap .my_tit{position:relative;height:auto;border:none;font-size:24px;line-height:32px;font-weight:500;color:#222;border-bottom: 1px solid #ebebeb;margin-bottom:80px;padding: 15px 0; }

.bbsView td{padding-left:10px !important; text-align: left;}
/* .kwtable td{padding-left:10px;} */
.bbsView th{text-align: center !important; }
/* .kwtable th{text-align: center; } */

.blue_btn {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}



.bottom_btn_wrap{float:right; margin-top:50px;}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    padding: 7px 4px;
    font-size: 15rem;
    width: 100px;
    border-radius: 5px;
    border-radius: 10px;
    margin: 3px;
    line-height: 1.5;
    border-radius: .35rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}