@charset "UTF-8";

.tourtime_wrap{width: 44%;min-height: 700px;box-shadow: 3px 3px 17px 0px rgb(119 119 119 / 17%);border-radius: 6px;float: left;margin-right: 17px;}
.tourtime_wrap .tab_day_list{width: 82px;float: left;border-right: 1px solid #ededed;height: 700px;}
.tourtime_wrap .tab_day_list li{width:100%;border-bottom: 1px solid #dbdbdb; background: #f2f2f2;text-align: center;height: 53px;line-height: 53px;}
.tourtime_wrap .tab_day_list li.on{background:#434250; color:#fff}
.tourtime_wrap  .tabcontent{width: 224px;float: left;height: 700px;border-right: 1px solid #f2f2f2;}
.tourtime_wrap  .tabcontent li{padding:10px 20px;border-bottom: 1px solid #f2f2f2;}
.tour_map{width:50%;}
.search_form{margin: 30px auto;width: 254px;/* margin-bottom: 50px; */}
.search_form input{width: 180px;border-radius:100px;margin-right: 8px;}
.search_form button{border:none;color:#fff;/* width: 100px; */padding: 4px 15px;background: #4e73df;border-radius: 5px;position: relative;top: 2px;}
.sch_wrap{width: 307px;float:right}

.sch_wrap .sch_list{width:100%;}
.sch_wrap .sch_list li{width:100%;border-bottom: 1px solid #f2f2f2;padding-left: 23px;box-sizing: border-box;line-height: 46px;}
.tour_map{width: 53%;float: right; border-radius: 6px; box-shadow: 3px 3px 17px 0px rgb(119 119 119 / 17%);border-radius: 6px;height: 700px;}
.tour_wrap {
    width: 100%;
    min-height: 700px;
    clear: both;
    margin-top: 80px;
    position: relative;
    top: 58px;
}

.right_blue {
    border: none;
    color: #fff;
    /* width: 100px; */
    padding: 4px 15px;
    background: #4e73df;
    border-radius: 5px;
    position: relative;
    top: 37px;
    position: relative;
    float: right;
}



.modalContent .close-modal-btn{background:#fff; font-size:20px}


.close-modal-btn i{font-size: 25px;color: #fff;}
.modal_body{padding:46px;}
.s_modal.close-modal-btn{background:#fff; font-size:20px}
.modaltop{width:100%;height: 16px;padding: 29px;background: #09847f;color: #fff;}
.s_modal button{border:none; background:none;}
.s_modal .tit{width:30%;float:left;color: #fff;font-size: 21px;}
.s_modal .close_right{width:30%;float:right;color: #fff;}


.m_footer{text-align: center;position:relative;top: 116px;}
.m_btn{box-shadow: 0px 2px 5px 1px rgb(99 99 99 / 22%);width: 123px;margin: 0 auto;height: 39px;border: none;background: #2196F3;color: #fff;border-radius: 6px !important;}
input.cdate{height:33px; padding:7px 8px; margin:2px 0px; border:1px solid #ddd; background:#fff; vertical-align:middle;}
.mb20{margin-bottom:20px;}

