<?xml version="1.0" encoding="UTF-8"?>

<!-- 이 문서는 mybatis의 환경 설정용 파일입니다. -->
<!DOCTYPE configuration 
	 PUBLIC "-//mybatis.org/DTD config 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- DB연결에 필요한 정보가 저장된 properties파일 정보 구성하기 -->
	<properties resource="kr/or/ddit/mybatis/config/dbinfo.properties"/>
	
	<!-- 기본 셋팅 정보 설정 -->
	<settings>
		<!-- NULL로 전달된 데이터를 빈칸으로 처리하지 말고 null로 처리하라 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 쿼리문에서 사용되는 VO객체의 전체 이름을 대신해서 사용할 alias를 지정하는 부분 -->
	<!-- 전체 이름을 사용하면 클래스 이름이 길어지는데 그것을 짧게 사용하기 위한 별칭 설정 -->
	 
	<typeAliases>
		<!-- <typeAlias type="클래스의 전체 경로" alias="별칭"/> -->
		<typeAlias type="vo.TourismVO" alias="tourVo"></typeAlias>	
		<typeAlias type="vo.RestaurantVO" alias="rsVo"></typeAlias>	
		<typeAlias type="vo.MemberVO" alias="MemVo"></typeAlias>
		<typeAlias type="vo.ScheduleVO" alias="scheduleVo"></typeAlias>
		<typeAlias type="vo.ScheduleDetailVO" alias="scheduleDetailVo"></typeAlias>
		<typeAlias type="vo.CommunityVO" alias="comVo"></typeAlias>
		<typeAlias type="vo.MypageVO" alias="mypageVo"></typeAlias>
		<typeAlias type="vo.CommentVO" alias="CommentVo"></typeAlias>
		<typeAlias type="vo.QaVO" alias="qaVO"></typeAlias>
     	<typeAlias type="vo.CouponVO" alias="couponVO"></typeAlias>   
      	<typeAlias type="vo.CouponUseVO" alias="couponUseVO"></typeAlias>
      	<typeAlias type="vo.NoticeVO" alias="notVo"></typeAlias>
      	<typeAlias type="vo.ManagerVO" alias="MgVo"></typeAlias>
      	<typeAlias type="vo.ChatVO" alias="ChatVO"></typeAlias>
      	<typeAlias type="vo.CommentVO" alias="commentVO"></typeAlias> 
	</typeAliases>
	
	 
	 <!-- DB 연결 설정 부분 -->
	 <environments default="oracleDevelopment">
	 	<environment id="oracleDevelopment">
	 		<transactionManager type="JDBC"/>
	 		<dataSource type="POOLED">
	 			<!-- 연결 정보 설정하기 -->
	 			<property name="driver" value="${driver}"/>
	 			<property name="url" value="${url}"/>
	 			<property name="username" value="${user}"/>
	 			<property name="password" value="${pass}"/>
	 		</dataSource>
	 	</environment>
	 </environments>
	 
	 <!-- DB에 사용되는 SQL문들이 저장된 xml파일 등록하는 부분 -->
	 	<mappers>
	 		<!-- <mapper resource="경로명/파일명.xml"/> -->
	 		<!-- <mapper resource="kr/or/ddit/mybatis/mappers/tourism-mapper.xml"/> -->
	 		<mapper resource="kr/or/ddit/mybatis/mappers/restaurantMG-mapper.xml"/>
	 		<mapper resource="kr/or/ddit/mybatis/mappers/tourism-mapper.xml"/>
	 		<mapper resource="kr/or/ddit/mybatis/mappers/member_mapper.xml"/>
	 		<mapper resource="kr/or/ddit/mybatis/mappers/schedule-mapper.xml"/>
	 		<mapper resource="kr/or/ddit/mybatis/mappers/insertSchedule-mapper.xml"/>
	 		<mapper resource="kr/or/ddit/mybatis/mappers/community-mapper.xml"/>
	 		<mapper resource="kr/or/ddit/mybatis/mappers/communityMG-mapper.xml"/>
	 		<mapper resource="kr/or/ddit/mybatis/mappers/mypage-mapper.xml"/>
	 		<mapper resource="kr/or/ddit/mybatis/mappers/comment-mapper.xml"/>
	 		<mapper resource="kr/or/ddit/mybatis/mappers/qa-mapper.xml"/>
			<mapper resource="kr/or/ddit/mybatis/mappers/coupon-mapper.xml"/>
			<mapper resource="kr/or/ddit/mybatis/mappers/couponMG-mapper.xml"/>
			<mapper resource="kr/or/ddit/mybatis/mappers/notice_mapper.xml"/>
			<mapper resource="kr/or/ddit/mybatis/mappers/manager_mapper.xml"/>
			<mapper resource="kr/or/ddit/mybatis/mappers/chat-mapper.xml"/>
			<mapper resource="kr/or/ddit/mybatis/mappers/comment-mapper.xml"/>
			<mapper resource="kr/or/ddit/mybatis/mappers/commentRS-mapper.xml"/>
			<mapper resource="kr/or/ddit/mybatis/mappers/chatMG-mapper.xml"/>
	 	</mappers>
</configuration>
