<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="communityMG">
	
	<sql id="dynamicCondition">
	   <where>
	       <if test="sword != null and sword neq '' ">
	        cmt_no_name like  '%'||#{sword}||'%' 
	       </if>
	   </where>
	</sql>

	<select id="getCommunityList" resultType="comVo">
		select * from community
	</select>
	
	<select id="getCommunity" resultType="comVo" parameterType="String">
		select * from community where cmt_no=#{cmt_no}
	</select>
	
	
	<delete id="deleteCommunity" parameterType="String">
		delete community where cmt_no=#{cmt_no}
	</delete>

	
	<!-- Coupon테이블 모든 결과값의 갯수 출력 -->
	<select id="getListCount" resultType="int" parameterType="Map">
		select count(*) from community <include refid="dynamicCondition"></include>
	</select>
	
	
	<!-- 페이지 결과값 출력 -->
	<select id="selectByPage" resultType="comVo" parameterType="Map">
		 select A.* from (
		     select rownum as rnum, B.*  from (
		         select * from community
		         <include refid="dynamicCondition"/>
		         order by cmt_no desc) B
		         <![CDATA[
		     where rownum <= #{endIndex} ) A 
	 	 where A.rnum >=#{startIndex}
	 ]]> 
	</select>
	
	<!-- detail 출력 -->
	<select id="selectById" resultType="comVo" parameterType="String">
		select * from community where cmt_no=#{cmt_no}
	</select>

	
	
	
</mapper>