<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 myBatis에서 처리할 SQL문을 작성하는 문서입니다. -->
<!--mybatis-config 추가하기 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mapper namespace=> 다른 문서랑 중복 안되게 하기 -->
<mapper namespace="manager">

	
	<!--로그인  -->
	<select id="loginMg" resultType="MgVo" parameterType="MgVo">
		select * from manager where mg_id=#{mg_id} and mg_pw=#{mg_pw}
	</select>	
	
	<!--아이디 찾기  -->
	<select id="findIdMg" resultType="MgVo" parameterType="MgVo">
		select * from manager where mg_name=#{mg_name} and mg_mail=#{mg_mail}
	</select>	
	
	<!--비밀번호 찾기  -->  
	<select id="findPwMg" resultType="MgVo" parameterType="MgVo" >
		select * from manager where mg_id=#{mg_id} and mg_mail=#{mg_mail}
	</select>
	
	<!--비밀번호 랜덤 업데이트  -->
	<update id="randomPw" parameterType="MgVo">
		update manager set mg_pw=#{mg_pw} where mg_id=#{mg_id}
	</update>
	
	





	<!-- Map을 파라미터로 받아서 처리할 때의 변수명 역할을 Map의 key값으로 한다 파라미터로 가져온 값을 컬럼명 등의 자리에서 
		사용할 경우에는 달러$ 기호를 사용해서 나타낸다. (예: ${변수명} 또는 ${key값} ) ( Key값 정보==> 회원 ID(memid), 
		수정할 컬럼명(field), 수정할 데이터(data) ) -->





</mapper>