<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="mypage">
<!-- 현재 사용자 정보 출력  -->
<select id="memberList" resultType="mypageVo" parameterType="String">
	select users_no, users_id, users_name, users_mail, users_gen,
		 users_tel, users_zip, users_addr1, users_addr2 from users where users_no=#{users_no}
</select> 



<!-- 사용자 정보 수정 -->
<update id="memberUpdate" parameterType="mypageVo">
	update users set users_id= #{users_id}, users_pw=#{users_pw}, users_name=#{users_name},
	users_tel=#{users_tel}, users_mail=#{users_mail}, users_zip=#{users_zip},
	users_addr1=#{users_addr1}, users_addr2=#{users_addr2}
	where users_no=#{users_no}
</update>

<!-- 사용자 정보 삭제 -->
<delete id="memberDelete" parameterType="String">
	delete users where users_no=#{users_no}
</delete>

</mapper>	